<%- include('partials/header') %>

<!-- home.ejs -->
<body>

    <div class="cam-feed-enabler">
        <h1>Camera Feed</h1>

        <button style="width: 20%;"  id="startButton" type="submit" class=" btn btn-lg cam_button">
            <span class="button__text">Start Camera </span>
            <i class="button__icon fas fa-camera"></i>
        </button>
        <video id="videoElement" style="display: none; border-radius: 16px;box-shadow: 0px 0px 24px #5C5696;" autoplay></video>
    </div>

    <script>
        const startButton = document.getElementById('startButton');
        const video = document.getElementById('videoElement');
        let stream;
        let ws;

        startButton.addEventListener('click', () => {
            startCamera();
        });

        function startCamera() {
            navigator.mediaDevices.getUserMedia({ video: true })
                .then(function (videoStream) {
                    stream = videoStream;
                    video.srcObject = stream;
                    video.style.display = 'block';
                    ws = new WebSocket('ws://192.168.238.205:3000'); // Establish WebSocket connection
                    ws.onopen = () => {
                        console.log('WebSocket connection established');
                    };
                    setInterval(() => captureFrame(), 100); // Capture frame every second
                    startButton.disabled = true; // Disable button after starting camera
                })
                .catch(function (err) {
                    console.log('Error accessing the camera:', err);
                });
        }

        function captureFrame() {
            const canvas = document.createElement('canvas');
            canvas.width = video.videoWidth;
            canvas.height = video.videoHeight;
            const ctx = canvas.getContext('2d');
            ctx.drawImage(video, 0, 0, canvas.width, canvas.height);
            const imageData = canvas.toDataURL('image/jpeg'); // Convert frame to base64 JPEG
            const frameName = 'Frame_' + Date.now()+ '.jpeg';

            if (stream.active) {
                console.log('Sending frame to server:', imageData); // Log frame data
                if (ws.readyState === WebSocket.OPEN) {
                    ws.send(imageData); // Send frame to server
                } else {
                    console.log('WebSocket connection not open.');
                }
            }
        }
    </script>
</body>


<%- include('partials/footer') %>
