
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/chart.min.js"></script> 
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <title>SLAM-BOT</title>
    <link rel="stylesheet" href="/styles.css">

</head>
<body>

   <h1>Camera Feed</h1>
   <div id="here">
        <img src="<%= imageData %>" alt="frame">
    </div>
    
    <div id="also_here">
        <canvas id="radar-chart"></canvas>
    </div>


    <div id="there">
        <img height="400px" width="400px" id="image" src="<%=img_path %>" alt="Image" style="display: none;">
        <button id="toggleButton">Show Map</button>
    </div>
    <button id="updateButton">Update Map</button>

      
      
    <script>
        $(document).ready(function() {
    $('#toggleButton').click(function() {
        $('#image').toggle();
    });
    });

    </script>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var image = document.getElementById("image");
            var updateButton = document.getElementById("updateButton");
            var cooldownInProgress = false;
    
            updateButton.addEventListener("click", function() {
                if (!cooldownInProgress) {
                    cooldownInProgress = true;    
                    updateButton.disabled = true;    
                    image.src = '<%=img_path %>';
                        setTimeout(function() {
                        updateButton.disabled = false;
                        cooldownInProgress = false; 
                    }, 15000);
                }
            });
        });
    </script>
    

    <script>
    const formattedData = <%- JSON.stringify(numbersData.map(point => ({ label: point.number + '°', value: point.randomNumber })) ) %>;
        var ctx = document.getElementById('radar-chart').getContext('2d');
        var radarChart = new Chart(ctx, {
            type: 'radar',
            data: {
                labels: formattedData.map(point => point.label),
                datasets: [{
                    label: 'Data Points',
                    data: formattedData.map(point => point.value),
                    backgroundColor: 'rgba(75, 192, 192, 0.2)',
                    borderColor: 'rgba(75, 192, 192, 1)',
                    borderWidth: 1
                }]
            },
        });
    </script>


    <script>
        function updateDiv()
    { 
        $( "#here" ).load(window.location.href + " #here" );
    }
    setInterval(updateDiv, 100);
    </script>

</body>
</html>




