
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   <!-- <meta http-equiv="refresh" content="0.4"> -->
    <title>SLAM-BOT</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
   <h1>Camera Feed</h1>
   <div id="here">
        <img src="<%= imageData %>" alt="frame">

    </div>
    

<script>
    function updateDiv()
{ 
    $( "#here" ).load(window.location.href + " #here" );

}
setInterval(updateDiv, 100);

</script>

</body>
</html>




